<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body style="font-family: Arial, sans-serif; font-size: 16px; line-height: 20px;">
<p style="font-size: 18px;">Hi, nice to see you with us!<br>
    You recently requested activity report of user with login <span th:text="${login}"></span> for previous month.</p>

<p>Since <span th:text="${date}"></span></p>

<b>Comments</b><br>
<p th:if="${comments.empty}"> Were not created any comments. </p>

<p th:each="comment : ${comments}">
    <span style="font-style: italic" th:text="${comment.content}"></span> created at
    <span style="font-style: italic" th:text="${comment.createdAt}"></span><br>
</p>

<b>Deleted comments</b><br>
<p th:if="${deletedComments.empty}"> Were not deleted any comments. </p>

<p th:each="comment : ${deletedComments}">
    <span style="font-style: italic" th:text="${comment.content}"></span> created at
    <span style="font-style: italic" th:text="${comment.createdAt}"></span>, deleted at
    <span style="font-style: italic" th:text="${comment.deletedAt}"></span><br>
</p>

<b>Ranks</b><br>
<p th:if="${ranks.empty}"> Were not created any ranks. </p>

<p th:each="rank : ${ranks}">
    <span style="font-style: italic" th:text="${rank.rank}"></span> created at
    <span style="font-style: italic" th:text="${rank.createdAt}"></span><br>
</p>

<b>Deleted ranks</b><br>
<p th:if="${deletedComments.empty}"> Were not deleted any ranks. </p>

<p th:each="rank : ${deletedRanks}">
    <span style="font-style: italic" th:text="${rank.rank}"></span> created at
    <span style="font-style: italic" th:text="${rank.createdAt}"></span>, deleted at
    <span style="font-style: italic" th:text="${rank.deletedAt}"></span><br>
</p>

<b>Images</b><br>
<p th:if="${images.empty}"> Were not created any images. </p>

<p th:each="image : ${images}">
    <span style="font-style: italic" th:text="${image.imageUrl}"></span> created at
    <span style="font-style: italic" th:text="${image.createdAt}"></span><br>
</p>

<b>Deleted images</b><br>
<p th:if="${deletedImages.empty}"> Were not deleted any images. </p>

<p th:each="image : ${deletedImages}">
    <span style="font-style: italic" th:text="${image.ImageUrl}"></span> created at
    <span style="font-style: italic" th:text="${image.createdAt}"></span>, deleted at
    <span style="font-style: italic" th:text="${image.deletedAt}"></span><br>
</p>

<p style="font-size: 18px;"> If you didn't request an activity report, ignore this email.<br></p>

<p style="font-size: 18px;">Thanks,<br> Sanya Galay :)</p>
</body>
</html>
