<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body style="font-family: Arial, sans-serif; font-size: 16px; line-height: 20px;">
<p>Hi,<br> thanks for joining out photogallery service!</p>

<p> This is your confirm registration token: <b><span th:text="${token}"></span></b>.<br>
    Please, follow link to confirm your account.<br>
    Be careful, token is valid during 24 hours.</p>

<a href="http://localhost:8080/swagger-ui.html#/api/v1/auth/confirm-registration"
   style="color: black;">
    <b>
        <button>
            Confirm your account
        </button>
    </b>
</a><br>

<p> If you didn't sign up, ignore this email.<br></p>

<p>Thanks,<br> Sanya Galay :)</p>
</body>
</html>