<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<body style="font-family: Arial, sans-serif; font-size: 16px; line-height: 20px;">
<p>Hi,<br> you recently requested to reset your password for your photogallery account.</p>

<p> This is your reset password token: <b><span th:text="${token}"></span></b>.<br>
    Please, follow link to finish password restore.<br>
    Be careful, token is valid during 24 hours.</p>

<a href="http://localhost:8080/swagger-ui.html#/api/v1/auth/reset-password/finish"
   style="color: black;">
    <b>
        <button>
            Finish reset password
        </button>
    </b>
</a><br>

<p> If you didn't request a password reset, ignore this email.<br></p>

<p>Thanks,<br> Sanya Galay :)</p>
</body>
</html>
